*.bak
/db
/simulation
/incremental_db
/c5_pin_model_dump.txt
*.sof
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
/hc_output
/output_files
greybox_tmp

*.html
*.bsf
*.ptf.*
*.elf
*.map
*.objdump
obj
*.swp
*.a
*.cmp
*.sopcinfo

*.ver
